.ui.card,
.ui.cards > .card {
  flex-direction: row;
  width: 100%;
}

.release-details div:nth-child(n + 3) {
  margin-top: 15px;
}

.production-list {
  display: block;
  margin-bottom: 20px;
}

.meta-data {
  display: block;
  font-size: 1.6em;
  line-height: 1.1em;
}
