.full-view-card > .ui.card,
.ui.cards > .card {
  flex-direction: row;
  width: 100%;
  margin-bottom: 1em;
}

.full-view-card .ui.card > .content {
  border: none;
}

.full-view-card .ui.card > .content > .description {
  color: #2e294e;
  line-height: 2em;
  font-size: 1.1rem;
}

.full-view-card .release-details div:nth-child(n + 3) {
  margin-top: 15px;
}

.full-view-card .production-list {
  display: block;
  margin-bottom: 20px;
}

.full-view-card .meta-data {
  display: block;
  font-size: 1.6em;
  line-height: 1.1em;
}

.full-view-card > .ui.card > .full-view-card__image .image,
.ui.cards > .card > .image {
  max-width: 300px;
}

.no_image_holder .ui.image {
  max-width: 300px;
  height: 450px;
  background-color: #dbdbdb;
  background-size: 50%;
  box-sizing: border-box;
  border: 1px solid #d7d7d7;
}

.full-view-card__image {
  padding: 1rem;
}

.full-view-card .ui.card > .content > .header,
.full-view-card .ui.cards > .card > .content > .header {
  color: #2e294e;
}

.full-view-card a {
  color: #fff;
}

.full-view-card a:hover {
  color: #3ea060;
}

.additional-details {
  padding-top: 1rem;
}

.ui.card .tagline {
  color: #3ea060;
  font-size: 1.4em;
}

.meta-data {
  color: #3ea060;
  font-size: 1.3em;
}

.genre-list {
  margin-top: 1rem;
  text-align: right;
}

.genre-list span {
  border: 2px solid #3ea060;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  padding: 3px 10px;
  margin: 5px;
}
