.movies .card {
  height: 100%;
}

.movies > a {
  display: block;
  height: 100%;
}

.movies .ui.card:hover {
  cursor: pointer;
  z-index: 5;
  background: #fff;
  border: none;
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 0 0 1px #d4d4d5;
  transform: translateY(-3px);
}

.no_image_holder {
  min-height: 100%;
}

.no_image_holder .image {
  height: 100%;
  flex: 1 1 auto !important;
}
